{% load static %} <!-- Reference static files -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CTJ GPA Calculator</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
</head>
<body>
    <!-- Loading the Navigation Bar content through 'Template Inheritance' -->
    {% include 'myapp/navbar.html' %}

    <div class="background">
        <div class="container">
            <div class="card">
                <h1>GPA Calculations</h1>
                <!-- Displays weighted and unweighted GPA, calculated from 'calculations.js' -->
                <p>Unweighted GPA: <span id="unweighted-gpa"></span></p>
                <p>Weighted GPA: <span id="weighted-gpa"></span></p>
                <!-- Stores 'class-info' context passed from 'views.py as a variable so 'calculation.js' can access the data-->
                <div id="class-info" style="display: none;">{{ class_info }}</div>
                <!-- Sends users back to the previous page -->
                <button class ="card-button" onclick="window.history.go(-1)">Return</button><br>
                <button class="card-button" id="restart">Restart</button>
            </div>
        </div>
    </div>

    <script src="{% static 'myapp/js/calculations.js' %}"></script>
</body>
</html>
