{% load static %} <!-- Reference static files -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Number of Classes</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
</head>
<body>

    <div class="background">
        <div class="container">
            <div class="card">
                <form id="classCountForm">
                    <h2>Enter Number of Classes</h2>
                    <label class="form-text" for="classCount">Number of Classes:</label>
                    <br>
                    <!-- Minimum of 1 classes and maximum of 20 classes for the class count input field -->
                    <input type="number" id="classCount" name="classCount" min="1" max="20" required>
                    <br>
                    <button class="card-button" type="submit">Next</button>
                </form>
                <!-- Sends users back to the previous page -->
                <button class ="card-button" onclick="window.history.go(-1)">Return</button>
            </div>
        </div>
    </div>

    <script src="{% static 'myapp/js/class_count.js' %}"></script>
</body>
</html>
