{% load static %} <!-- Reference static files -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Interface</title>
  <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

  <div class="background">
    <div class="container">
      <div class="card">
        <h1>CTJ GPA Calculator</h1>
        <p>Welcome to the Claudia Taylor Johnson High School grade-point-average calculater. Here, you'll be able to calculate your weighted and unweighted GPAs with just a few steps!</p><br>
        <p>Prior to proceeding, make sure you have the following:</p><br>
        <p>1. The Number of Classes</p>
        <p>2. The Name of Each Class</p>
        <p>3. The Current Grade of Each Class</p>
        <p>4. The Rigor Level For Each Class</p><br>
        <p>Click 'Begin' if you are ready to proceed!</p><br>
      <div class="card-button">
         <a class="button-behavior" href="{% url 'class_count' %}"><span>Begin</span></a>
         <!-- Sends users to the /class_count URL -->
       </div>
      </div>
    </div>
  </div>

</body>
</html>