<!-- Creating a Navigation Bar, that all html pages will contain via the process 'Template Inheritance' -->
<!-- This NavBar contains a helpful dropdown, which contains links to different information about GPA -->
<nav class="navbar">
  <ul class="nav-links">
      <li class="nav-link services">
          <a>Help</a>
          <!-- The first dropdown option -->
          <ul class="drop-down">
              <li>
                  <a href="https://www.mastersportal.com/articles/2126/what-is-a-gpa-and-why-is-it-so-important.html" target="_blank">
                      What is GPA?
                  </a>
              </li>
              <!-- The second dropdown option -->
              <li>
                <a href="https://www.sparkadmissions.com/blog/weighted-vs-unweighted-gpas/#:~:text=One%20is%20an%20unweighted%20GPA,both%20grades%20and%20course%20levels." target="_blank">
                    Types of GPA
                </a>
              </li>
          </ul>
      </li>
  </ul>
</nav>